<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genealogy.web.dao.RoleMapper">
    <resultMap id="roleResultMap" type="com.genealogy.web.model.RoleEntity">
        <!-- 用id属性来映射主键字段 -->
        <id property="roleId" column="ID"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="roleName" column="NAME"/>
        <result property="isLock" column="IS_LOCK"/>
        <result property="remark" column="REMARK"/>
        <result property="isDel" column="IS_DEL"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastModifyBy" column="LAST_MODIFY_BY"/>
        <result property="lastModifyTime" column="LAST_MODIFY_TIME"/>
    </resultMap>
    <sql id="base_query">
        <![CDATA[
            SELECT
                R.ID,
                R.`NAME`,
                R.REMARK,
                R.IS_LOCK,
                R.IS_DEL,
                R.CREATE_BY,
                R.CREATE_TIME,
                R.LAST_MODIFY_BY,
                R.LAST_MODIFY_TIME
            FROM
                sys_role R
	         ]]>
    </sql>

    <!--查询所有角色信息 -->
    <select id="queryAll" resultMap="roleResultMap">
        <include refid="base_query"></include>
        <where>
            R.IS_DEL = 0
        </where>
    </select>

    <!-- 根据ID查询角色-->
    <select id="get" resultMap="roleResultMap" parameterType="int">
        <include refid="base_query"></include>
        <where>
            R.ID = #{roleId} and  R.IS_DEL = 0
        </where>
    </select>

    <!-- 添加角色信息 -->
    <insert id="save" parameterType="com.genealogy.web.model.RoleEntity"
            useGeneratedKeys="true" keyProperty="roleId">
		insert into sys_role
            (
            `NAME`,
            `IS_LOCK`,
            `REMARK`,
            `IS_DEL`,
            `CREATE_BY`,
            `CREATE_TIME`,
            `LAST_MODIFY_BY`,
            `LAST_MODIFY_TIME`
            )
		values
            (
            #{roleName},
            #{isLock},
            #{remark},
            #{isDel},
            #{createBy},
            #{createTime},
            #{lastModifyBy},
            #{lastModifyTime}
            )
	</insert>
    <!-- 更新角色信息 -->
    <update id="update" parameterType="com.genealogy.web.model.RoleEntity">
        update sys_role
        <set>
            <if test="roleName != null">`NAME` = #{roleName}, </if>
            <if test="remark != null">`REMARK` = #{remark}, </if>
            <if test="lastModifyBy != null">`LAST_MODIFY_BY` = #{lastModifyBy}, </if>
            <if test="lastModifyTime != null">`LAST_MODIFY_TIME` = #{lastModifyTime}, </if>
        </set>
        where ID = #{roleId}
    </update>
    <!-- 逻辑删除角色信息 -->
    <update id="delete"  parameterType="int">
        update sys_role
        <set>
            IS_DEL =1
        </set>
        where ID = #{id}
    </update>
</mapper>