<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genealogy.admin.web.dao.AreaMapper">
    <resultMap id="areaResultMap" type="com.genealogy.admin.web.model.AreaEntity">
        <!-- 用id属性来映射主键字段 -->
        <id property="areaId" column="ID"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="areaCode" column="CODE"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="areaName" column="NAME"/>
        <result property="sort" column="SORT"/>
        <result property="remark" column="REMARK"/>
        <result property="isDel" column="IS_DEL"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastModifyBy" column="LAST_MODIFY_BY"/>
        <result property="lastModifyTime" column="LAST_MODIFY_TIME"/>
    </resultMap>
    <sql id="base_query">
        <![CDATA[
            SELECT
                A.ID,
                A.`CODE`,
                A.PARENT_ID,
                A.`NAME`,
                A.REMARK,
                A.SORT,
                A.IS_DEL,
                A.CREATE_BY,
                A.CREATE_TIME,
                A.LAST_MODIFY_BY,
                A.LAST_MODIFY_TIME
            FROM
                sys_area A
	         ]]>
    </sql>
    <!--查询所有地区信息 -->
    <select id="queryAll" resultMap="areaResultMap">
        <include refid="base_query"></include>
        <where>
            A.IS_DEL = 0
        </where>
        order by A.SORT
    </select>

    <!-- 根据ID查询地区 -->
    <select id="get" resultMap="areaResultMap" parameterType="int">
        <include refid="base_query"></include>
        <where>
            A.ID = #{id} and A.IS_DEL = 0
        </where>
    </select>
    <!--保存地区-->
    <insert id="save" parameterType="com.genealogy.admin.web.model.AreaEntity"
            useGeneratedKeys="true" keyProperty="areaId">
        <![CDATA[
            insert into sys_area
            (
                `PARENT_ID`,
                `NAME`,
                `CODE`,
                `REMARK`,
                `SORT`,
                `IS_DEL`,
                `CREATE_BY`,
                `CREATE_TIME`,
                `LAST_MODIFY_BY`,
                `LAST_MODIFY_TIME`
            )
            values
            (
                #{parentId},
                #{areaName},
                #{areaCode},
                #{remark},
                #{sort},
                #{isDel},
                #{createBy},
                #{createTime},
                #{lastModifyBy},
                #{lastModifyTime}
            )
		  ]]>
	</insert>

    <!--更新地区 -->
    <update id="update"  parameterType="com.genealogy.admin.web.model.AreaEntity">
        update sys_area
        <set>
            <if test="parentId != null">`PARENT_ID` = #{parentId}, </if>
            <if test="areaName != null">`NAME` = #{areaName}, </if>
            <if test="areaCode != null">`CODE` = #{areaCode}, </if>
            <if test="remark != null">`REMARK` = #{remark}, </if>
            <if test="sort != null">`SORT` = #{sort}, </if>
            <if test="lastModifyBy != null">`LAST_MODIFY_BY` = #{lastModifyBy}, </if>
            <if test="lastModifyTime != null">`LAST_MODIFY_TIME` = #{lastModifyTime}</if>
        </set>
        where ID = #{areaId}

    </update>
    <!-- 逻辑删除 -->
    <update id="delete"  parameterType="int">
        update sys_area
        <set>
            IS_DEL =1
        </set>
        where ID = #{id} or PARENT_ID=#{id}
    </update>

</mapper>