<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.genealogy.admin.web.dao.RoleMenuMapper">
    <resultMap id="roleMenuResultMap" type="com.genealogy.admin.web.model.RoleMenuEntity">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="ID"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="roleId" column="ROLE_ID"/>
        <result property="menuId" column="MENU_ID"/>
        <result property="isDel" column="IS_DEL"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastModifyBy" column="LAST_MODIFY_BY"/>
        <result property="lastModifyTime" column="LAST_MODIFY_TIME"/>
    </resultMap>
    <sql id="base_query">
        <![CDATA[
          SELECT
                RM.ID,
                RM.ROLE_ID,
                RM.MENU_ID,
                RM.IS_DEL,
                RM.CREATE_BY,
                RM.CREATE_TIME,
                RM.LAST_MODIFY_BY,
                RM.LAST_MODIFY_TIME
            FROM
	      sys_role_menu RM
	         ]]>
    </sql>

    <!--查询所有角色信息 -->
    <select id="queryAll" resultMap="roleMenuResultMap">
        <include refid="base_query"></include>
        <where>
            RM.IS_DEL = 0
        </where>
    </select>

    <!-- 批量添加关系信息 -->
    <insert id="batchSave">
        INSERT INTO sys_role_menu(ROLE_ID, MENU_ID,IS_DEL,CREATE_BY,CREATE_TIME,LAST_MODIFY_BY,LAST_MODIFY_TIME) values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (#{item.roleId},#{item.menuId},#{item.isDel},#{item.createBy},#{item.createTime},#{item.lastModifyBy},#{item.lastModifyTime})
        </foreach>
	</insert>
    <!-- 逻辑删除关联关系信息 -->
    <update id="deleteByRoleId"  parameterType="int">
        update SYS_ROLE_MENU
        <set>
            IS_DEL =1
        </set>
        where ROLE_ID = #{id}
    </update>
    <!-- 逻辑删除关联关系信息 -->
    <update id="deleteByMenuId"  parameterType="int">
        update SYS_ROLE_MENU
        <set>
            IS_DEL =1
        </set>
        where MENU_ID = #{id}
    </update>
    <!-- 查询角色对应的菜单ID集合 -->
    <select id="queryMenuIdsByRoleId"  parameterType="int" resultType="int">
         SELECT RM.MENU_ID FROM sys_role_menu RM
        <where>
            RM.IS_DEL = 0 and RM.ROLE_ID = #{id}
        </where>
    </select>

</mapper>